{% extends "header.html" %}

{% block body %}



 
	

  
  
  
<body>
    <div class="container-fluid" style="width:100%; min-height:100%">
    <div class="row">
    <!-- size 4 on a large screen, 12 on a small, 6 on a med -->
    
    <div class="col l4 s12 m6">
      <a href="/report/" class="waves-effect waves-light" style="color:#000">
      <div class="card-panel hoverable" style="height:360px; background-color:#F5D628; ">
        <div class="card-image">
          <img class="responsive-img" src="https://www.tutorialspoint.com/images/netmeeting.jpg" style="width:250px;margin-top:50px;margin-left:370px">
          <br><br><h2><span class="card-title" style="color:#0A0500;margin-top:50px;margin-left:370px"><strong>Report Time</strong></span></h2>
        </div>
        <div class="card-content" style="color:#272602;margin-top:50px;margin-left:370px">
          <p>Report here to get your time recorded.</p>
        </div>
       </div>
       <div class="col l4 s12 m6">
          
           
    <div class="col l4 s12 m6">
      
        <a href="/check/" class="waves-effect waves-light" style="color:#000">
        <div class="card-panel hoverable" style="height:360px; background-color:#EB3C3C;">
          <div class="card-image">
            <img class="responsive-img" src="https://cdn.lynda.com/course/373553/373553-636125469315480526-16x9.jpg" style=" height:160px;width:250px;margin-top:50px;margin-left:370px">
            <br><br><h2><span class="card-title" style="color:#0A0500;margin-top:50px;margin-left:370px"><strong>Check Reports</strong></span></h2>
          </div>
          <div class="card-content" style="color:#272602;margin-top:50px;margin-left:370px">
            <p>Hey There! Check Your Report Timings Here</p>
          </div>
         


      
    
    
    
    
    
    
    </div>
    
    </div>
    <div class="col l4 s12 m6">
        
          <a href="/task/" class="waves-effect waves-light" style="color:#000">
          <div class="card-panel hoverable" style="height:360px; background-color:#D84C0B;">
            <div class="card-image">
              <img class="responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhjd-5ACtoi8eRYm29BdnCXe_LJnTddCUVHAveJOkOGHBRQSLL" style=" height:160px;width:250px;margin-top:50px;margin-left:370px">
              <br><br><h2><span class="card-title" style="color:#0A0500;margin-top:50px;margin-left:370px"><strong>Task Manager</strong></span></h2>
            </div>
            <div class="card-content" style="color:#272602;margin-top:50px;margin-left:370px">
              <p>Create Tasks Here!</p>
            </div>
            </div>
          </div>
          <div class="col l4 s12 m6">
              
                <a href="/performance/" class="waves-effect waves-light" style="color:#000">
                <div class="card-panel hoverable" style="height:360px; background-color:#87B913;">
                  <div class="card-image">
                    <img class="responsive-img" src="http://favbulous.com/wp-content/uploads/2016/04/employee_performance_1500px.jpg" style=" height:160px;width:250px;margin-top:50px;margin-left:370px">
                    <br><br><h2><span class="card-title" style="color:#0A0500;margin-top:50px;margin-left:370px"><strong>Employee Performance</strong></span></h2>
                  </div>
                  <div class="card-content" style="color:#272602;margin-top:50px;margin-left:370px">
                    <p>Upgrate Your  Tasks Here!</p>
                  </div>
                  </div>
                </div>
                
                  
  </div>
</div>
</div>
</div>
 
    
    
    
  <p> {{error}}</p>
  </body>


{% endblock %}
 
		