<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Employee Reporting System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	
	


	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>
	<div class="navbar-header">
      <a class="navbar-brand" href="/">
	  <img style="width:120px; margin-top: 10px;" src="{{ url_for('static', filename='images/home.jpg') }}">
	  </a>
    </div>
	
	
	<div class = "container-fluid">

		<a href="/dashboard/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 10px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		  <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Start Working
		</button></a>

	
	
	
	<ul class="nav navbar-nav navbar-right">
		  
		  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
			<h5>

			<a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support   </a>
	
		
	</ul>
	</div>

</header>

	 <div id="main-content" class="container">
		 <div class="jumbotron" >
			<img src="{{ url_for('static', filename='images/a.jpg') }}" class="img-responsive center-block">
		 </div>
	 </div>

	
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<footer>
        
        <div class="footer-top"> 
           <div class="container">
             <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://www.facebook.com/aarya.18"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
             </div>
              <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://www.facebook.com/aarya.18"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
             </div>
              <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://www.facebook.com/aarya.18"><i class="fa fa-flickr fa-2x"></i>Flickr</a>
             </div>
              <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://www.facebook.com/aarya.18"><i class="fa fa-tumblr fa-2x"></i>Tumblr</a>
             </div>
              <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://github.com/SubodhArya"><i class="fa fa-github fa-2x"></i>Github</a>
             </div>
              <div class="col-lg-2 col-xs-12 text-center">
                 <a href="https://plus.google.com/u/0/117031808403057110790"><i class="fa fa-google-plus fa-2x"></i>Google</a>
             </div>
           </div> 
        </div>  
        
        <div class="container" style="border-top:1px solid grey;">
            <div class="row text-center">   
                <div class="col-lg-6 col-lg-offset-3">
                      <ul class="menu">
                                 
                             <li>
                                <a href="/">Home</a>
                              </li>
                                   
                              <li>
                                 <a href="#">About</a>
                              </li>
                                   
                              <li>
                                <a href="#">Blog</a>
                              </li>
                                   
                              <li>
                                 <a href="#">Gallery</a>
                              </li>
                                   
                              <li>
                                <a href="#">Contact</a>
                             </li>
                   
                        </ul>
                </div>
            </div>
        </div>
        
    </footer>
    
    
    <div class="copyright">
     <div class="container">
       
         <div class="row text-center">
         	<p>Copyright © 2017 All rights reserved</p>
         </div>
         
 	   </div>
    </div>
    

	
	</html>